@page
@model MyApp.Namespace.CreateModel3
@{
}
<div class= "justify-conten-center text-left">
    <h1>Crear vehiculo</h1>
</div>
<br>
<div class="row"></div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vehiculo.Marca" class="Control-Label"></label>
                <input asp-for="Vehiculo.Marca" class="form-control"/>
                <span asp-validation-for="Vehiculo.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Color" class="Control-Label"></label>
                <input asp-for="Vehiculo.Color" class="form-control"/>
                <span asp-validation-for="Vehiculo.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Modelo" class="Control-Label"></label>
                <input asp-for="Vehiculo.Modelo" class="form-control"/>
                <span asp-validation-for="Vehiculo.Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.Cilindraje" class="Control-Label"></label>
                <input asp-for="Vehiculo.Cilindraje" class="form-control"/>
                <span asp-validation-for="Vehiculo.Cilindraje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.fecha_modelo" class="Control-Label"></label>
                <input asp-for="Vehiculo.fecha_modelo" class="form-control"/>
                <span asp-validation-for="Vehiculo.fecha_modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiculo.tipo_combustible" class="Control-Label"></label>
                <input asp-for="Vehiculo.tipo_combustible" class="form-control"/>
                <span asp-validation-for="Vehiculo.tipo_combustible" class="text-danger"></span>
            </div>






            <div class="form-group">
                <input type="submit" value="Crear vehiculo" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./List"  class="btn btn-secondary" > Volver</a>
</div>




