@page
@model MyApp.Namespace.CreateModel5
@{
}
<div class= "justify-conten-center text-left">
    <h1>Crear camioneta</h1>
</div>
<br>
<div class="row"></div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Camioneta.Platon" class="Control-Label"></label>
                <input asp-for="Camioneta.Platon" class="form-control"/>
                <span asp-validation-for="Camioneta.Platon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camioneta.Transmision" class="Control-Label"></label>
                <input asp-for="Camioneta.Transmision" class="form-control"/>
                <span asp-validation-for="Camioneta.Transmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camioneta.placa_id" class="Control-Label"></label>
                <input asp-for="Camioneta.placa_id" class="form-control"/>
                <span asp-validation-for="Camioneta.placa_id" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Crear camioneta" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./List"  class="btn btn-secondary" > Volver</a>
</div>




